.background_image {
    background-image: url("/src/assets/Shooting-Star-Background-in-Pure-CSS-1.gif");
    background-size: cover;
    width: auto;
    height: auto;
    border: 2px solid;
    
    
}





